{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}

  <div>
    <div class="container">
      <div class="row">
        <div class="col"><h1>2do1ist</h1></div>
        <div class="col-auto">                    
          <form action="{% url 'logout' %}">
            <button type="submit" class="btn btn-secondary my-2">Logout</button>
          </form>
        </div> 
      </div>
    </div>

    {% if progress <= 33 %}
      <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar" style="width: {{progress}}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
      </div>      
    {% elif progress <= 66 %}
      <div class="progress">
        <div class="progress-bar bg-warning" role="progressbar" style="width: {{progress}}%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    {% else %}
      <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: {{progress}}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>      
    {% endif %}

    <div class="list-group">
      <li class="list-group-item">
        <div class="container">
          <div class="row">
            <div class="col-4"><h6>Title</h6></div>
            <div class="col-4"><h6>Complete</h6></div>
            <div class="col-4"><h6>Delete</h6></div>
          </div>
        </div>
      </li>
      {% for todo in todos %}
        <li class="list-group-item">
          <div class="container">
            <div class="row">
              <div class="col-4">
                {% if todo.completed %}
                  <del>{{ todo.title }}</del>
                {% else %}
                  {{ todo.title }}
                {% endif %}              
              </div>
              <div class="col-4">
                {% if todo.completed %}
                  <div></div>
                {% else %}
                  <form action="/complete/{{ todo.id }}/">
                    <button type="submit" class="btn btn-outline-success">Complete</button>
                  </form>
                {% endif %}              
              </div>            
              <div class="col-4">
                <form action="/delete/{{ todo.id }}/">
                  <button type="submit" class="btn btn-outline-danger">Delete</button>
                </form>                
              </div>
            </div>
          </div>
        </li>      
      {% endfor %}
    </div>

    <!-- Button for Add todo -->
    <button type="button" class="btn btn-primary my-2" data-toggle="modal" data-target="#modal-add">Add</button>
    <!-- Modal -->
    <div class="modal fade" id="modal-add" tabindex="-1" role="dialog" aria-labelledby="addTodoModalLabel" aria-hidden="true">
        <!-- HTML form for modal-add -->
        <form action="/add/" method="post">
            {% csrf_token %}
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addTodoModalLabel">Add a todo item</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">todo</span>
                            </div>
                            <input type="text" name="todoname" class="form-control" placeholder="what to do" aria-label="what to do" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
  </div>
{% else %}
  <!-- THIS SHOULD NEVER BE REACHED BECAUSE OF SERVER SIDE REDIRECT! -->
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}
